@using ASPDOTMVCStepByStep.ViewModels
@model CreateEmployeeViewModel
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@section TitleSection{Create Employee}
@section HeaderSection{
    <script type="text/javascript">
        function ResetForm() {
            document.getElementById("txtFName").value = "";
            document.getElementById("txtLName").value = "";
            document.getElementById("txtSalary").value = "";
        }
    </script>
    <script src="~/Scripts/validations.js"></script>
}
@section ContentBody{
    <div>
        <form action="/Employee/SaveEmployee" method="post">
            <table>
                <tr>
                    <td>
                        First Name :
                    </td>
                    <td>
                        <input type="text" id="txtFName" name="FirstName" value="@Model.FirstName" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        @Html.ValidationMessage("FirstName")
                    </td>
                </tr>
                <tr>
                    <td>
                        Last Name :
                    </td>
                    <td>
                        <input type="text" id="txtLName" name="LastName" value="@Model.LastName" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        @Html.ValidationMessage("LastName")
                    </td>
                </tr>
                <tr>
                    <td>
                        Salary :
                    </td>
                    <td>
                        <input type="text" id="txtSalary" name="Salary" value="@Model.Salary" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        @Html.ValidationMessage("Salary")
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" id="btnReset" value="Reset" onclick="ResetForm();" />
                    </td>
                    <td>
                        <input type="submit" name="btnSave" value="Save Employee" onclick="return IsValid();" />
                    </td>
                    <td align="right">
                        <input type="submit" name="btnSave" value="Cancel" />
                    </td>
                </tr>
                @*<tr>
                    <td colspan="2" align="right">
                        <input type="submit" name="btnSave" value="Cancel" />
                    </td>
                </tr>*@
            </table>
        </form>
    </div>
}